h1{
display: flex;
font-family: "Woody";
font-size: 45px;
color: saddlebrown;
}

body{
  /*background-color: blanchedalmond;*/
}

form{
  display: flex;
  font-family: "copperplate";
}

#lumber{
  display: flex;
  flex-direction: row-reverse;
  width: 10%;
  height: 10%;
}

#GPS{
  display: flex;
  width: 2.5%;
  height: 2.5%;
}

.list{
  display: flex;
  font-family: "copperplate";
}
