h1{
font-family: "Woody";
font-size: 45px;
color: saddlebrown;
}

body{
  /*background-color: blanchedalmond;*/
}

form{
  font-family: "copperplate";
}

#lumber{
  width: 10%;
  height: 10%;
}

#GPS{
  width: 2.5%;
  height: 2.5%;
}
